body {font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;}

.header {display: flex;
    background-color: #000000;
    padding: 10px;
    margin-bottom: 30px;
    justify-content: center;
    justify-content: space-between;}

.name {color:#ffffff;}
.logo {color:#ffffff;
    margin-left: 265px;}
nav a {color: #ffffff;
    text-decoration: none;}
nav a:hover {color: #b0b0b0;}